.abutton {
  display: inline-block;
  background: #006699;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  font-family: helvetica;
  border: none;
}

input:focus
{ 
  border:2px solid #0000FF;

}

div .error{
  color:red;
  font-weight: bold;
  font-size: 13px;
  margin: 3px;
}

.error{
  color:red;
}

/********* Estilos para imagenes de accion *********/

.action{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 7px;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

/********* Estilos para imagen reload *********/


#wrapper_cli{
  background-image: url(../imagenes/cli.jpg);
  background-repeat: no-repeat;
  background-size: 130%;
  min-height: 300px;

}







.abutton_cancel {
  display: inline-block;
  background:  white;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  color: #006699;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  font-family: helvetica;
  border: solid 1px;
  font-weight: normal;
  min-width: 68px;
}




.hide {
  display: none;
}

.show{
  display: block;
}

.wait{
  background: url('../images/wait.gif') no-repeat left center;
  width: 300px;
  height: 30px;
  background-size: 30px;
  padding-left: 32px; 
}

.table_form{
  width: 100%;
  color:#0091c0;
  font-weight: bold;
  font-size: 14px;
}

.standOut{
  background-color: #D8D8D8;
}

.table_form select {
   width: 100%;
}

.table_form input {
   width: 100%;
}

.table_form input[type='checkbox'] {
    width: 16px;
}


.bienvenido {
   color:white;
  font-weight: bold;
  font-size: 13px;
  margin: 3px;
  display: inline-block;
}


.nombre {
   color:blue;
  font-size: 15px;
  margin: 3px;
display: inline-block;
}

.menu {
   color:black;
  font-size: 13px;
}


.requerimiento {
   color:white;
  font-size: 15px;
  margin: 3px;
  background-color: #444;
display: inline-block;
}

/*tablas*/
table.header tr:first-child {
    font-weight: bold;
    color:#fff;
    background-color: #444;
    border-bottom:1px #000 solid;
}
 
/*Todas las filas a partir de la segunda*/
table.header tr:nth-child(n+2) {
    text-align: right;
}



input .custom-checkbox {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
